input {
  width: 100%;
}

.eventName {
  padding: 10px;
  margin: 10px 0;
}

.btn {
  margin: 5px 0 20px 270px;
  color: white;
  background-color: blue;
  border-radius: 30px;
  text-decoration: none;
  /* float: right; */
}
