.side-nav {
  display: flex;
}

.content {
  width: 100%;
}

.side-bar {
  min-height: 550px;
}

form {
  margin-top: 40px;
  width: 80%;
  margin-left: 10%;
}

.card {
  margin: 40px;
}

.post-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.badge {
  padding: 2px;
  margin: 5px;
}

.reactions {
  width: 288px;
  margin-top: 20px;
}

.delete-post {
  cursor: pointer;
}

.delete-post:hover {
  height: 25px;
  width: 30px;
}
